<ion-menu [content]="content" #myMenu>

  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{ p.icon }}"></ion-icon> {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav id="nav" [root]="rootPage"  #content swipeBackEnabled="false"></ion-nav>
