page-home {
  .home {
    background: url('../img/background_login.png');
    .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;

      }
      ion-row {
         align-items: center;
         text-align: center;
       }

       ion-item {
           border-radius: 30px !important;
           padding-left: 30px !important;
           font-size: 0.9em;
           margin-bottom: 10px;
           border: 1px solid #ffffff;
           border-bottom: 0px !important;
           box-shadow: none !important;
       }
  }
  .button {
    position: relative;
    background: transparent;
    color:white;
    border: none;
    font-size: 28px;
    padding: 10px;
    width: 70px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.content1 {
  width: 150px ;
  margin-left: auto ;
  margin-right: auto ;
}
.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
}
