<ion-header>

  <ion-navbar color="dark">
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title> <img src="img/logo_white.png" style="width: 50px" /> </ion-title>
    <!--<ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>-->
     </ion-navbar>
</ion-header>

<ion-content class="home" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="img/logo_white.png"/>
    </ion-col>
    <ion-col>
    </ion-col>

  </ion-row>
  <h3>Welcome  {{username}}!</h3>
  <div class = "content1">
  <button [navPush]="dataPage"  class="button"><ion-icon name="timer"></ion-icon></button>
  <button [navPush]="dataPage" class="button"><ion-icon name="stats"></ion-icon></button>
  </div>
  <p></p>
  <div class = "content1">
  <button [navPush]="dataPage" class="button"><ion-icon name="text"></ion-icon></button>
  <button [navPush]="dataPage" class="button"><ion-icon name="photos"></ion-icon></button>
  </div>

</ion-content>
