<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="img/logo_white.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">

    <form #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-input type="email" placeholder="Email" name="email" class="username" [value]="username" (input)="username = $event.target.value" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" [value]="password" (input)="password = $event.target.value" ></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" (click)="formSignup()">Register</button>
          <button ion-button class="register-btn" block clear type="submit" (click)="loginPage()">Log In</button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
