page-stats {
    .page {
      background: url('../img/background_login.png');
      background-size: 100%;
      background-repeat: no-repeat;
      .logo-row {
          padding-top: 50px;
          padding-bottom: 20px;

        }
        ion-row {
           align-items: center;
           text-align: center;
         }

         ion-item {
             border-radius: 30px !important;
             padding-left: 30px !important;
             font-size: 0.9em;
             margin-bottom: 10px;
             border: 1px solid #ffffff;
             border-bottom: 0px !important;
             box-shadow: none !important;
         }
  }
}
