<ion-header>
  <ion-navbar color="dark">
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title> <img src="img/logo_white.png" style="width: 50px" /> </ion-title>
  <!--<ion-buttons end>
      <button ion-button (click)="logout()">
       <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>-->
     </ion-navbar>
</ion-header>
<ion-content class="page">
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="Timer">
          Puppies
        </ion-segment-button>
        <ion-segment-button value="Stats">
          Kittens
        </ion-segment-button>
        <ion-segment-button value="Emotional Journal">
          Ducklings
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <div [ngSwitch]="pet">
      <ion-list *ngSwitchCase="'Timer'">
        <ion-item>
          <ion-thumbnail item-left>
            <img src="assets/img/thumbnail-puppy-1.jpg">
          </ion-thumbnail>
          <h2>Timer</h2>
        </ion-item>

      </ion-list>
      <ion-list *ngSwitchCase="'Stats'">
        <ion-item>
          <ion-thumbnail item-left>
            <img src="assets/img/thumbnail-kitten-1.jpg">
          </ion-thumbnail>
          <h2>Emotional Stats</h2>
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'Emotional Journal'">
        <ion-item>
          <ion-thumbnail item-left>
            <img src="assets/img/thumbnail-duckling-1.jpg">
          </ion-thumbnail>
          <h2>Journal Entries</h2>
        </ion-item>
      </ion-list>
        </div>
</ion-content>
