<!--
  Generated template for the TutorialPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar class="tutorial-navbar" *navbar>
  <ion-buttons end *ngIf="showSkip">
    <button (click)="startApp()" primary>Skip</button>
  </ion-buttons>
</ion-navbar>

<ion-content class="tutorial-content">

  <ion-slides pager (slideChangeStart)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p class="slide-description" [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <img src="img/logo_white.png" class="slide-image"/>
      <h2 class="slide-title">Ready to Start?</h2>
      <button large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
